html{
    /* Para que no se repita el gradiente con auto en el eje vertical se centre cualquier elemento y con min.heght sea el valor minimo de 100% y cubra toda la pantalla */
    height: auto;
    min-height: 100%;
}

body{
    /* agregamos un gradiente lineal */
    /* background: linear-gradient(#4aa164, #e0e9ec); */
    /* background: linear-gradient(to right, #4aa164, #e0e9ec); */
    /* background: linear-gradient(to bottom right,#2034a6, #524fb1, #552791); */
    /* background: linear-gradient(145deg,#2034a6, #524fb1, #552791); */
    /* background: radial-gradient(circle, #0d47a1, #42a5f5); */
    color: black;
}

h1{
    text-align: center;
    color: rgb(30, 26, 26);
    /* 1er valor maneja el eje x y el otro el 2do valor vertical y, 3er valor blur = difuminado, al final el color */
    text-shadow: 2px 2px 5px rgb(17, 14, 11);
}

div.contenedor{
    color: white;
    width: 55%;
    height: 20%;
    margin: auto;
    border: 3px solid #032425;
    padding: 15px;
    text-align: center;
    background: radial-gradient(circle, #0d47a1, #42a5f5);
    /* 4to valor spread = propagar */
    box-shadow:  4px 4px 5px 2px rgb(193, 106, 19);
}

img{
    opacity: .6;
    width: 100%;
}